<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: white;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: white;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Home</a
        ></span
      >
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          style="color: white;"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          style="color: white;"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="responsive" style=" position: relative; overflow: hidden;">
    <div class="col-lg-10" style="margin: auto;">
      <br />
      <br />
      <h1 style="color: #3CB371;">How do I start using Jussimple?</h1>
      <br />
      <h3>
        It's simple. Once you register the Custom Systems, Charts, and Indicator
        tools will be sent to your email within 24 hours along with a video
        explaining how to install them. Once installed the setup is permanent
        and you own the Custom Systems & Tools for life.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">Are there any fees?</h1>
      <br />
      <h3 >
        There are no fees. Once your trading account is setup we install the
        Custom Systems & Tools to your preferred laptop or computer so you own
        them for life. This includes any support and maintenance required long
        term. The Custom System and Tools have never been changed since their
        creation ten years ago but imagine, that one day computer screens don't
        exist anymore and we have to re-code the charting itself! You might need
        to contact us then.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">How does Jussimple make money?</h1>
      <br />
      <h3 >
        Jussimple makes all of it's money from private investments and from
        referral commissions and partners. You can learn more by emailing
        support@jussimple.com.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">Do I need any experience to start?</h1>
      <br />
      <h3 >
        None at all. In fact the less experience you have the better. Experience
        and existing ideas can distract you from learning new things and
        paralyze your actions as your mind attempts to hang onto old habits.
        Anyone can begin to get rid of all the noise and get it right the first
        time. ​
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Does Jussimple open my trading account for me?
      </h1>
      <br />
      <h3 >
        No. Jussimple does not accept and does not allow the sending of trading
        funds to Jussimple. Instead we guide you with the correct knowledge to
        know exactly how to trade on your own and keep your money safe in your
        complete control.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Is this available anywhere else?
      </h1>
      <br />
      <h3>
        No. The Systems and Tools provided to traders here are proprietary
        algorithms, sequences, and pattern recognition tools built for traders,
        by traders. You cannot find this system or any of its components
        anywhere else as they are a result of 15+ years of live testing in the
        markets after trying thousands of different indicators and strategies
        one by one. These systems and custom tools are the result of thousands
        of failures after analyzing and testing all market conditions. After
        discovering the few things that do work and automating them into a set
        of rules we've simplified the process to deliver it to you for your long
        term benefit.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Is this theories or real world knowledge?
      </h1>
      <br />
      <h3 >
        What you will get is real world working systems used by us on a daily
        basis along with the exact rules executed on a daily basis to run a
        successful trading business long term.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        If this is so good, why are you giving away all of your secrets?
      </h1>
      <br />
      <h3>
        With so many myths and misinformation online related to trading we aim
        to demystify this industry and equip traders with the correct knowledge
        to run their own trading business taught by industry experts that have
        been trading live for over 15+years. Having tested and built thousands
        of trading systems and indicators using 50+ years of live market data we
        know exactly what NOT to do in the trading industry to teach you the few
        things that work consistently in all markets and time frames. What we
        deliver to you is the result of constant demand from friends and family
        who have requested our assistance in learning how to trade and wanting
        to run a trading business long term. Once you do the math, nobody is
        creating wealth from this industry without hard work and understanding
        how to run a trading business long term. We developed this all in one
        Custom System of rules to give you the correct knowledge and
        understanding required to trade consistently and truly grow in this
        industry as legitimate professionals. We can spend years telling you the
        same thing over and over again and you may still never put it into
        practice. Meanwhile someone else may have listened on day one and
        transformed their life the same year. Knowledge and tools are
        meaningless unless you apply them and take action. For this reason we
        wanted to deliver an all-in-one package that teaches you how to trade
        and run your own successful trading business.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        How long does it take to learn?
      </h1>
      <br />
      <h3>
        This aspect entirely depends on you and your commitment level. We
        provide you the exact daily processes and steps we take to trade and run
        our business. This may take a few hours, days, or a few weeks to
        entirely grasp and understand. Once you connect the pieces it will
        become about staying disciplined and consistent as you follow this
        process like a routine habit. It only takes a few minutes a day to apply
        yourself and implement our Custom Systems and Tools into your life.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        What do I need?
      </h1>
      <br />
      <h3>
        Just a laptop and a few minutes a day.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        How much technical analysis or news based trading is used?
      </h1>
      <br />
      <h3>
        Every market variable has been accounted for including all indicators,
        technical analysis, fundamental analysis, news, and human bias
        variables. With every aspect of the market isolated and converted into a
        quantified system we provide you the exact strategy necessary to execute
        trades safely and long term on a consistent basis. Once you use the
        system you will understand and radically transform your ideas about the
        markets and how you see them. Giving you the edge you need to trade.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        What size should my trading account be?
      </h1>
      <br />
      <h3>
        There are no minimums in sizes. Everything is matched to exact
        percentage based ratios. This means there is no difference between an
        account that is $5,000 or $500,000. All trades match the ratio of the
        balance. We teach you how to trade with small incremental trade sizes to
        stay safe and conservative while trading. Remember, 1% is 1% in both
        accounts of $5,000 and $50,000 balance. The difference is that 1% on
        $5,000 is $50 and 1% on $50,000 is $500. Everything is a matter of
        perception and scale. There is no limit to trading size.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Will this work in any market and any time frame?
      </h1>
      <br />
      <h3>
        Yes. All markets are inherently lines moving up and down on a screen
        once you get rid of the market name and human bias variables. Once you
        understand the markets in their simplest form you will understand that
        they can be organized into exact range based patterns to determine up
        and down moving trends. This systematic approach allows you to customize
        your charts to any size to trade based on your schedule whenever you
        want, 24 hours a day, 7 days a week. All markets are the same and the
        only reason people don't know this is because they have not tested and
        analyzed over 50+ years of market data down to the millisecond. We did
        this work for you and will teach you how to use it in your daily trading
        cycle.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        How many trades per day?
      </h1>
      <br />
      <h3>
        With the standard setup of 6-8 markets saved on the platform there will
        be approximately 7-10 trades per hour. These cycles can be executed once
        or twice a day to build a consistent habit of systematic trading
        expertise.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        I am considering other trading systems how can I decide?
      </h1>
      <br />
      <h3>
        The important thing is to see what they offer. We use our systems every
        day and this is the only way that we make full time income. It's
        important to understand the difference between training that is just
        made to take your money, and systems that are designed to be lifelong
        tools that you can execute whenever you want, as much as you want, and
        that continue producing results no matter what market conditions exist.
        We have tested thousands of indicators, systems, mechanisms, money
        making schemes, and infrastructures to understand what NOT to do. By
        dissecting each aspect into individual steps and complicating the
        trading industry to the extreme, we were able to quantify it into a few
        simple steps that need to be executed daily in order to run a successful
        trading business. Our systems will work forever and we will continue
        using them no matter what. It's up to you if you wish to do the same.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        I don't want to trade right now, should I still own this?
      </h1>
      <br />
      <h3>
        Yes. Our system and tools allow individuals who do not want to invest to
        make money long term. Learn how trading referrals work and grow your
        residual income base by collecting profits from trading transactions.
        This is a great way for you to rapidly grow your income base without
        having any investments. Then, one day if you feel like it maybe you can
        start trading yourself.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Can I trade longer than 20-60 minutes per day?
      </h1>
      <br />
      <h3>
        Yes. There is no limit to the amount of time you spend using our Custom
        Systems and Charting Tools. You can change your schedule to trade
        whenever you want. There is no difference when it comes to our
        simplified approach. All markets and all time frames are the exact same.
      </h3>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        What about losses?
      </h1>
      <br />
      <h3>
        Trading strategies cannot exist without losing trades. It is inevitable
        and you cannot be making 100% profitable trades all the time as the
        market swings both up and down. You can take trades on both rising and
        falling markets and profit or lose on both sides of the trade. If 100%
        of your trades were profitable you would be a billionaire in a few
        years. This makes no sense because that means a billionaire would be a
        trillionaire and that just isn't logical. By following systematic and
        exact rules our Custom Systems and Charting Tools are able to identify
        key turning points in market movement to identify exact entries and
        exits on every trade one by one. Once you understand this process you
        will be able to trade without stress, worry, or confusion about where
        the markets going. Everything is exactly defined to give you confidence
        and peace of mind while trading.
      </h3>
      <br />
      <br />
      <br />
      <div  class="container-fluid col-lg-8" style="margin: auto;">
        <iframe
        width="100%"
        height="370"
          src="https://www.youtube.com/embed/EW2BYVZvhq0"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        </div>
      <br />
      <br />
    </div>
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: arial;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            FAQ
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.488.0233
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
