<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: black;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: black;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </span>
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="col-lg-8" style="margin: auto;">
    <br />
    <br />
    <br />
    <br />
    <div>
      <h1 style="color: #3CB371; margin-left:1x;">
        What you will get:
      </h1>
      <br />
      <br />
      <h4 class="row text-left">
        • Life Time Access to the exact entry and exit rules and trading system
        that we've used for 10+ years.
      </h4>
      <br />
      <h4 class="row text-left">
        • Tested on over 50+ years of live market data using hundreds of
        indicators across thousands of strategies.
      </h4>
      <br />
      <h4 class="row text-left">
        • Learn what NOT to do and master the few market rules that exist
        underneath all layers of the market.
      </h4>
      <br />
      <h4 class="row text-left">
        • This system and knowledge is not available anywhere else and has been
        custom made for all markets.
      </h4>
      <br />
      <h4 class="row text-left">
        • Exact simple trading rules to understand all market conditions, types,
        and time frames.
      </h4>
      <br />
      <h4 class="row text-left">
        • Work based on your own schedule, whenever you want 7 days a week, for
        a few minutes a day.
      </h4>
      <br />
      <h4 class="row text-left">
        • Customized Daily Training to teach you how to trade from being a
        beginner to pro for as long as it takes.
      </h4>
      <br />
      <h4 class="row text-left">
        • A complete guide on how to trade Cryptocurrency, Futures, Forex,
        Stocks, and Options using Custom tools.
      </h4>
      <br />
      <br />
      <h2 style="color: #3CB371;">
        Learn Live:
      </h2>
      <br />
      <h4 class="row text-left">
        • Daily Live Trading Webinars to watch us make consistent profit every
        day as you learn along the way.
      </h4>
      <br />
      <h4 class="row text-left">
        • Customized Training and One-on-One Unlimited Training until you're
        100% confident and satisfied.
      </h4>
      <br />
      <h4 class="row text-left">
        • Life Time Access to our Custom Systems Training & Support.
      </h4>
      <br />
      <br />
      <h2 style="color: #3CB371;">
        Grow your trading business:
      </h2>
      <br />
      <h4 class="row text-left">
        • Advanced Psychology that will help scale and grow your business.
      </h4>
      <br />
      <h4 class="row text-left">
        • The right custom tools, skills, knowledge, and expertise to become
        successful long term.
      </h4>
      <br />
      <h4 class="row text-left">
        • A simplified approach to advanced topics and processes easy enough for
        anyone to understand.
      </h4>
      <br />
      <br />
      <h2 style="color: #3CB371;">
        Who should own our Systems:
      </h2>
      <br />
      <h4 class="row text-left">
        • Traders and students that have no experience.
      </h4>
      <br />
      <h4 class="row text-left">
        • Advanced Traders that may already have a working system and want to
        extend their trading potential.
      </h4>
      <br />
      <h4 class="row text-left">
        • Traders that have been struggling for years trying everything and just
        can't seem to make it work.
      </h4>
      <br />
      <h4 class="row text-left">
        • Traders that have given up after constant failure we recommend that
        you practice with our tools on demo.
      </h4>
      <br />
      <br />
      <h1 style="color: #3CB371;">
        Believe in freedom.
      </h1>
    </div>
  </div>
</div>
<div class="container-fluid padding">
  <div class="text-center">
    <br />
    <br />
    <h1>Custom System & Life Time Accesss</h1>
    <br />
    <br />
    <div class="card" style="width: 22rem;">
      <div class="card-body card border-success">
        <h5 class="card-title" style="color: #3CB371;">
          FREE FOR LIFE TIME USE
        </h5>
        <br />
        <h6>
          Regular Price<span style="color: #3CB371;"><del>$5000</del></span>
        </h6>
        <br />
        <p class="card-text">
          Life Time Access to our Custom Training <br />Life Time Access to our
          Online Trade Room<br />
          Life Time Access to the Referral Program<br />
          Advanced Trading Psychology<br />
          Exact Entry and Exit Trading Rules<br />
          Strategy Development Program<br />
          How to build a Custom Trading Strategy<br />
          Ethics, Laws & Good Practices<br />
          Trading Licensing Program<br />
          Advanced Trading Automation<br />
          Layers of the Market<br />
          FREE Life Time Support & Assistance
        </p>
        <br />
        <a href="#" class="btn btn-primary">Start Now Free</a>
        <br />
      </div>
    </div>
  </div>
</div>
<br />
<div
  class="container-fluid padding"
  style="background-color:#3CB371 ;font-family: arial;"
>
  <div class="text-center">
    <br />
    <h4 style="color: white;">REQUIREMENTS</h4>
    <h5 style="color: white;">
      All you need is your Trading Account and a Laptop to trade.
    </h5>
    <br />
  </div>
</div>
<div class="container-fluid padding">
  <div class="text-center">
    <br />
    <br />
    <div style=" position: relative; overflow: hidden;">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/BjLntNeYjzI"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: avenir light;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Faq
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.491.6752
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
