<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: white;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: white;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Home</a
        ></span
      >
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          style="color: white;"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          style="color: white;"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<br />
<br />
<br />
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row padding">
    <div class="col-md-4">
      <div class="card border-success">
        <div class="card-body">
          <div class="card-title text-center">
            <h2>Location</h2>
          </div>
          <br />
          <div class="card-text text text-center">
            <h5>
              6981 Millcreek Drive, Unit 37<br />Mississauga, Ontario L5N 6B8
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-success">
        <div class="card-body">
          <div class="card-title text-center">
            <h2>Contact</h2>
          </div>
          <br />
          <div class="card-text text text-center">
            <h5>
              Phone: 1.647.488.0233<br />
              E-mail: support@jussimple.com
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-success">
        <div class="card-body">
          <div class="card-title text-center">
            <h2>Hours</h2>
          </div>
          <br />
          <div class="card-text text text-center">
            <h5>
              6981 Millcreek Drive, Unit 37<br />Mississauga, Ontario L5N 6B8
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <div class="text-center">
        <br />
        <h3>Leave Us A Message</h3>
        <br />
      </div>
      <form [formGroup]="infoForm" (ngSubmit)="sendMail()" #form="ngForm">
        <div class="form-group">
          <label for="nameInp">Name</label>
          <input
            type="text"
            class="form-control"
            id="nameInp"
            placeholder="name"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="mailInp">Email address</label>
          <input
            type="email"
            class="form-control"
            id="mailInp"
            placeholder="name@example.com"
            formControlName="email"
          />
        </div>
        <br />
        <div class="form-group">
          <label for="textInp">Add A Message</label>
          <textarea
            class="form-control"
            id="textInp"
            rows="3"
            placeholder="your message"
            formControlName="text"
          ></textarea>
        </div>
        <br />
        <br />
        <button
          style="width: 260px; height: 60px;"
          class="btn btn-info"
          [disabled]="form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
    <br />
    <br />
      <div class="col-lg-6">
        <div class="responsive" style=" position: relative; overflow: hidden;">
          <br>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.4380169256738!2d-79.76206568459081!3d43.59742076405409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b6a6034f9d6fd%3A0x54a4c4bffc5900d8!2s6981%20Millcreek%20Dr%20%2337%2C%20Mississauga%2C%20ON%20L5N%206B8!5e0!3m2!1sen!2sca!4v1574137656391!5m2!1sen!2sca"
            width="90%"
            height="450"
            frameborder="0"
            style="border:0;"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </div>
<br />
<br />
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: arial;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            FAQ
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.488.0233
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="Email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
