<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: white;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: white;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Home</a
        ></span
      >
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          style="color: white;"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          style="color: white;"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          style="color: white;"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="text-center">
    <div style="margin: 50px;">
      <h6>
        IMPORTANT INFORMATION ​<br /><br /><br />
        No offer or solicitation to buy or sell securities, securities
        derivative, forex, options, or futures products of any kind, or any type
        of trading or investment advice, recommendation or strategy, is made,
        given or in any manner endorsed by any Jussimple Trading and/or any
        affiliates and the information made available on this Website is not an
        offer or solicitation of any kind in any jurisdiction.<br /><br />
        ​ Past performance, whether actual or indicated by historical tests of
        strategies, is no guarantee of future performance or success. There is a
        possibility that you may sustain a loss equal to or greater than your
        entire investment regardless of which asset class you trade (equities,
        options, forex or futures); therefore, you should not invest or risk
        money that you cannot afford to lose. Options and all other types of
        trading is not suitable for all investors. Before trading any asset
        class, customers must read the relevant risk disclosure statements on
        this page.<br /><br />
        ​ The Company on this website and its representatives do not provide
        ‘‘fiduciary’’ investment advice or recommendations to employees, or any
        persons whether they are corporate entities or individuals. Neither the
        Company on this website, nor any of its associated persons, registered
        representatives, employees, or affiliates offer investment advice or
        recommendations of any kind. The Company may provide general information
        to potential and prospective customers for the purposes of making an
        informed investment decision on their own. All long/short trades and
        opinions created on Jussimple Trading are for educational and
        informational purposes only and do not constitute as investment advice.
        The information and education provided is not intended to be investment
        advice, nor does it fall within the definition of investment advice or
        recommendations. Jussimple Trading does not hold any liability and does
        not have any responsibility for any losses incurred or damages that may
        directly or indirectly result from any education, information, opinions,
        advice or omission contained on this website or in any of the content or
        software produced by Jussimple Trading. Jussimple Trading and all
        proprietary technology in Jussimple Trading is owned by Jussimple
        Trading.<br /><br />
      </h6>
      <div class="text-left">
        DISCLAIMER<br /><br />
        Earnings Disclaimer<br /><br />
      </div>
      <h6>
        ​ WE HAVE MADE EVERY EFFORT TO ACCURATELY REPRESENT THIS WEBSITE, AND
        SERVICES. WE PROVIDE ABSOLUTELY NO GUARANTEE THAT YOU WILL EARN ANY
        MONEY OR ACHIEVE A FINANCIAL GOAL USING THE METHODS, INFORMATION AND
        SUGGESTIONS IN THE CONTENT PROVIDED. ANY EXAMPLES OR DEMONSTRATIONS
        PROVIDED ARE IN NO WAY A GUARANTEE OR PROMISE THAT AN INDIVIDUAL WILL
        MAKE FINANCIAL GAINS OF ANY KIND. THE POTENTIAL FOR EARNINGS IS TOTALLY
        DEPENDENT ON THE PERSON USING THIS WEBSITE, SERVICES, METHODS AND IDEAS.
        THIS WEBSITE DOES NOT PROVIDE OR RECOMMEND A "GET RICH SCHEME" OR A
        "MAKE MONEY SCHEME".<br /><br />
        ​ IF REQUESTED VERIFICATION FOR ANY SPECIFIC CLAIMS OF ACTUAL EARNINGS
        OR EXAMPLES OF ACTUAL RESULTS CAN BE PROVIDED. YOUR ACTUAL LEVEL OF
        SUCCESS IN OBTAINING THE RESULTS CLAIMED IN OUR MATERIALS DEPENDS ON THE
        TIME YOU DEVOTE TO THE METHODS AND IDEAS PROVIDED, YOUR OWN FINANCIAL
        RESOURCES, YOUR VARIOUS EXPERIENCES, SKILLS, KNOW HOW AND YOUR OWN
        KNOWLEDGE. ALL THESE FACTORS VARY FROM ONE INDIVIDUAL TO ANOTHER. WE
        CANNOT GUARANTEE THE RESULTS YOU OBTAIN OR YOUR SUCCESS OR YOUR INCOME
        LEVEL OR ANY OTHER OUTCOME YOU DESIRE. WE DO NOT TAKE ANY RESPONSIBILITY
        FOR YOUR ACTIONS AND ANY LOSSES OR DAMAGES THAT ARE SOLELY YOUR OWN
        RESPONSIBILITY.<br /><br />
        ​ CONTENT AND FUNCTIONALITY INCLUDED IN OUR SERVICES AND WEBSITE MAY
        CONTAIN INFORMATION THAT INCLUDE OR ARE BASED ON FORWARD-LOOKING
        STATEMENTS. FORWARD-LOOKING STATEMENTS INDICATE OUR FORECASTS OR
        EXPECTATIONS OF FUTURE EVENTS. YOU CAN IDENTIFY THESE STATEMENTS BY THE
        FACT THAT THEY DO NOT RELATE STRICTLY TO CURRENT OR HISTORICAL FACTS.
        THEY ALSO USE WORDS SUCH AS "EXPECT", "ANTICIPATE", "BELIEVE",
        "ESTIMATE", "PROJECT", "MAY", "POSSIBLE", "PLAN", "INTEND" AND OTHER
        WORDS, PHRASES AND TERMS OF SIMILAR MEANING IN RELATION WITH
        DESCRIPTIONS OF POTENTIAL OR POSSIBLE INCOME, EARNINGS OR OTHER
        FINANCIAL PERFORMANCE.<br /><br />
        ​ ANY AND ALL FORWARD LOOKING STATEMENTS USED ON OUR WEBSITE OR ON ANY
        OF OUR CONTENT ARE SOLELY TO EXPRESS OUR OWN OPINION OF INCOME
        POTENTIAL. A LARGE NUMBER OF FACTORS WILL AFFECT YOUR FINANCIAL RETURNS
        AND ACTUAL RESULTS. WE PROVIDE NO GUARANTEES THAT YOU WILL OBTAIN
        RESULTS SUCH AS OURS OR ANYONE ELSE'S. IN FACT NO GUARANTEES ARE GIVEN
        THAT YOU WILL ACHIEVE ANY RESULTS WHATSOEVER FROM OUR WEBSITE, METHODS,
        SUGGESTIONS OR OUR OTHER CONTENT. ANY RESULTS OR FINANCIAL PERFORMANCE
        YOU MAY SEE ON OUR WEBSITE OR WITHIN ANY OF OUR CONTENT ARE NOT TYPICAL.
        YOUR RESULTS WILL VARY FROM OTHER PEOPLES'.<br /><br />
        ​ YOU MUST DO YOUR OWN INDEPENDENT RESEARCH PRIOR TO ENGAGING IN ANY
        KIND OF BUSINESS ACTIVITY INCLUDING ANY ACTIVITY WHEN YOU HAVE
        EXPECTATIONS OF SPECIFIC RESULTS OR FINANCIAL RETURNS.<br />
        Every Member, Potential Member, Interested Customer, or User of any
        sort, must fully read this legal disclaimer, understand, and agree, to
        the legal terms stipulated.<br /><br />
        ​ THERE ARE MAJOR RISKS IN TRADING, INVESTING, AND DAY TRADING ONLINE,
        WHICH MAKES IT UNSUITABLE FOR EVERYONE.<br /><br />
        ​ I. Logging onto and using information provided on www.jussimple.com or
        submitting an application for any of our services including but not
        limited to the ones made available on this website (hereafter referred
        to as "MEMBER", "SUBSCRIBER", OR "MEMBERSHIP"), you hereby agree
        unconditionally to the legal terms and condition stated here.<br /><br />
        ​ II. The website, www.jussimple.com is an independent website providing
        information for online traders, day traders, day trading "SUBSCRIBERS",
        new traders in the market, etc., to distribute and exchange information
        in various forms on subjects including but not limited to FOREX,
        Futures, Binary Options, Stocks, Options and Equities Trading.<br /><br />
        ​ III. Information provided in any of the services provided by
        www.jussimple.com is solely for educational purposes only. As such, no
        legal responsibility is assumed by us, and the accuracy or reliability
        of information, quotes, opinions, or advice that results from any of our
        services is absolutely not guaranteed. Every "SUBSCRIBER" assumes sole
        legal responsibility for his or her decisions to follow suggestions made
        in any of our services to BUY or SELL Stocks, FOREX Lots, Futures,
        Binary Options, Options or Equities.<br /><br />
        ​ IV. Www.jussimple.com, and any of our subsidiaries, do not guarantee
        or represent that any "SUBSCRIBER" who follow any suggestions or advice
        given in any of our services, will be making any profits.<br /><br />
        ​ V. Www.jussimple.com staff may hold positions in multiple Stocks,
        FOREX Lots, Futures, Binary Options, Options or Equities, mentioned in
        any of the services we provide. We are not obliged in any way to reveal
        information about this including but not limited to the time of
        acquisition of Stocks, FOREX, Futures, Binary options, Options or
        Equities, as well as the amount of the position held or the closing time
        of a position.<br /><br />
        ​ VI. We recommend that every "SUBSCRIBER" seeks information from his or
        her preferred financial or investment advisor before getting into
        trading Stocks, FOREX, Futures, Binary options, Options or Equities.
        Therefore, www.jussimple.com is not providing, whatsoever, any
        professional services, whether financial or investment, and every
        potential "SUBSCRIBER" is recommended to seek fundamental trading
        education.<br /><br />
        ​ VII ("SUBSCRIBER") understands and agrees that www.jussimple.com
        reserves the right to cancel my subscription at its absolute discretion,
        and no form of refund will be due to me for whatever reason. I also
        agree and understand that I reserve the right to cancel my membership by
        the terms stipulated in the TERMS & CONDITIONS page. I agree that
        deciding to terminate my 'MEMBERSHIP' before the expiration date of my
        current subscription entitles me to no form of credits or refunds for my
        unused 'SUBSCRIPTION' or 'MEMBERSHIP'. I understand that in the event
        that I cancel my 'MEMBERSHIP', I am not entitled to any credits or
        refunds for my unused 'MEMBERSHIP' or 'SUBCRIPTION' and I understand
        there is a strict no refunds policy set in place by
        www.jussimple.com.<br /><br />
        ​ VIII. In addition, www.jussimple.com, reserves the right to approve or
        deny the reactivation of a canceled membership. Moreover,
        www.jussimple.com is under no legal obligation to disclose reasoning for
        such denials.<br /><br />
        ​ IX. ('SUBSCRIBER' may hereinafter be referred to as 'I', 'MY', 'ME',
        'YOU') I accept sole responsibility for any and all day trading, online
        trading, or online trading decisions, and accept that such decisions are
        made by ME alone and are my own responsibility. All transactions that
        occur in MY trading account with MY preferred broker are MY
        responsibility and I accept all legal responsibility for them. Heavy
        losses can be incurred when buying or selling FOREX, Stocks, Futures,
        Binary options, Options or Equities, and YOU should carefully analyze
        YOUR financial condition to determine if trading FOREX, Stocks, Futures,
        Binary Options, Options or Equities Contracts, is financially prudent
        for you. I understand that buying or selling Stocks, FOREX, Futures,
        Binary options, Options or Equities, can expose me to severe risks
        including the fact that I can suffer a loss of a percentage of 100% of
        MY capital, cash, and/or assets pledged to trade Stocks, FOREX Lots,
        Futures Contracts, Binary Options, Options or Equities, through MY
        preferred broker.<br /><br />
        ​ X. I understand that www.jussimple.com is not responsible in any way,
        whatsoever, for any trading transactions that occur in MY trading
        account between ME and MY preferred broker. I agree that there may be
        periods when the Market turns against ME, or unfavorable Market
        conditions arise which make it hard, if not impossible, for ME to
        liquidate a position, and I assume full legal responsibility should this
        occur. I agree that purchasing or selling Stocks, FOREX Lots, Futures,
        Binary options, Options and Equities, stated in any of the services
        provided by www.jussimple.com may result in a profit or loss and are MY
        sole responsibility.<br /><br />
        ​ XI. I understand as a trader that I am fully responsible for MY orders
        placed; MY orders filled; MY Stocks, FOREX Lots, Futures Contracts, or
        Equities, sold; MY Stocks, FOREX Lots, Futures Contracts, Binary options
        or Equities, bought; MY earned profits or MY incurred losses.<br /><br />
        ​ XII. I agree and understand that while the profits of day trading
        Stocks, Futures, FOREX, Binary options, Options or Equities, can be
        substantial, I am also exposed to the risk of heavy losses of MY cash,
        capital, or assets, and therefore agree not to hold www.jussimple.com,
        and any of its subsidiaries, responsible for any losses, no matter how
        large they may be. I understand that there may be other risks involved
        in the Buying/Selling of Stocks, FOREX, Futures, Binary options, Options
        and Equities, online, not stated in this DISCLAIMER and it is my
        absolute legal responsibility to know, investigate, research, and
        assume, all additional risks inherent in trading. I also agree that past
        performance of any of the services offered by www.jussimple.com should
        NOT be the basis for expected results of MY trading. I agree to
        indemnify www.jussimple.com and all of www.jussimple.com affiliates,
        subsidiaries, partners, employees, and associates of any and all losses
        taken on by ME in MY own trading account(s).<br /><br />
        ​ XIII. Www.jussimple.com, or any of its subsidiaries, will not be held
        responsible to 'SUBSCRIBERS', or any other parties, for incurred losses,
        costs or expenses, loss of use, and damages (consequential/incidental or
        both) resulting from mistakes in, omissions from, or changes to,
        information, links, downloaded material or other materials, a
        'SUBSCRIBER' may receive or come into contact with, while accessing the
        website. Www.jussimple.com does not provide any guarantees for the
        accuracy or validity of information provided in any of our services
        generated from generally reliable sources due to the refusal of such
        companies to provide legal guarantees for their information.<br /><br />
        ​ XIV. The website, www.jussimple.com, does not accept any liability or
        legal responsibility for, arising out of use, any investment, online
        trades, interpretation, or acceptance, of any information available on
        this website. YOU agree to access this website at your own risk and we
        do not provide any legal warranty that information available or obtained
        on this website is absolutely accurate and reliable, or that accessing
        our servers cannot expose YOU to viruses or other forms of harm. YOU
        understand that you are solely responsible for damage or costs arising
        from damage to YOUR computer, trading account(s), and any of its
        components.<br /><br />
        ​ XV. YOU agree to refrain from copying, duplicating, and/or soliciting
        information, material, and other properties owned by www.jussimple.com,
        or any of the services we provide unless we grant YOU prior written
        approval and consent.<br /><br />
        XVI. YOU agree that the absolute risk of YOUR trading technique in the
        trading of Stocks, FOREX, Futures, Binary options, Options or Equities,
        lies solely with you and you accept full legal responsibility for it.
        You reserve the right to act upon or discard recommendations made in the
        services we offer and should YOU decide to act upon any of them then
        YOUR actions are solely YOUR legal decision and www.jussimple.com, or
        any of its subsidiaries, will NOT be held responsible for any of your
        decisions related to trading financial instruments or otherwise.<br /><br />
        XVII. The website, www.jussimple.com, advises all 'SUBSCRIBERS' to
        practice Demo Trading (trading accounts that do not use real cash) UNTIL
        you come about with a strategy that ensures consistent profit. Don't
        forget that real trading is substantially different from Demo trading.
        Demo Trading mitigates actual market conditions including, but not
        limited to, quick moving markets, failure to have an order filled, bad
        market conditions, and so forth. Keep in mind that there are no
        guarantees as to how much profits YOU will earn when trading with YOUR
        own money, even with the deduction of this figure. YOU are fully
        responsible for any risks inherent in your trades, and any online
        trading techniques YOU develop by using any of our services can expose
        you to risks.<br /><br />
        XVIII. Www.jussimple.com, reserves the legal right to review and make
        changes to its 'MEMBERSHIP' fees at any time it deems necessary without
        prior notification to subscribers of such adjustments. XIV. We have a
        Zero Tolerance Policy for promotion of stocks, abusive language, or acts
        that we deem disruptive in our Live Trading Rooms, or other areas of our
        website. And, www.jussimple.com reserves the right to terminate
        'SUBSCRIBERS' found guilty of this policy.<br /><br />
        XV. Www.jussimple.com does not represent itself as an Investment
        Advisor, or investing in Stocks, Futures, or Equities. We therefore do
        not provide any kind of investing advice whatsoever.
      </h6>
      ​
      <div class="text-left">
        TRADE SIGNALS SERVICE AND FOREX<br /><br />
        ​ Risk Disclosure
      </div>
      <br />
      <h6>
        You should carefully think over your investment objectives, risks and
        experience before participating in the Futures, Options & Forex market.
        It is important to not invest money you cannot afford to lose. ​
        Considerable risks in Futures, Options & Forex transactions exist. Those
        risks include without limitation, leverage, creditworthiness, limited
        regulatory protection and market volatility that may substantially
        affect the price, liquidity of a currency or currency pair or Futures
        Contract. ​ As a result of the volatile nature of Futures, Options &
        Forex trading, any market movement will have an equal effect on your
        deposited funds. There is a possibility that you could sustain a total
        loss of initial margin funds and be required to deposit extra funds to
        maintain your position. If you fail to satisfy any margin requirement,
        your position may be liquidated and you become responsible for any
        losses. To manage exposure, employ different risk-reducing strategies. ​
        You also can face with different risks associated with using an
        Internet-based trading systems including, without limitation, the
        hardware, software, and Internet connection failures. Www.jussimple.com
        is not responsible for any communication failures or delays when trading
        via the Internet. Www.jussimple.com is not liable for any loss or
        damage, including without limitation, any loss of profit, which may
        arise directly or indirectly from use of or reliance on systems and
        signals shown by www.jussimple.com. www.jussimple.com is not responsible
        for correctness of any signals and systems available through
        www.jussimple.com. ​ Any opinions, news, research, analyses, prices, or
        other information offered by www.jussimple.com does not constitute
        investment advice. Www.jussimple.com will not accept liability for any
        loss or damage, including without limitation to, any loss of profit,
        which may arise directly or indirectly from use of or reliance on such
        information.
      </h6>
      <div class="text-left">
        <h6>
          Address:<br /><br />
          Jussimple Trading<br /><br />
          6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8<br /><br />
          Email:<br /><br />
          support@jussimple.com<br /><br />
        </h6>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: arial;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Faq
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.488.0233
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
