<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: black;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: black;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </span>
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<br />
<br />
<br />
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row padding">
    <div class="text-center">
      <h1 style="color: #3CB371;">Step 1. Setup Your Trading Account</h1>
      <h3>
        It's simple. Create your trading account here.
      </h3>
      <br />
      <br />
      <div class="container">
        <div class="text-center">
          <button
            style="width: 550px; height: 80px;"
            type="button"
            class="btn btn-primary btn-lg"
          >
            CREATE YOUR OWN TRADING ACCOUNT
          </button>
        </div>
      </div>
      <br />
      <br />
      <h3 style="margin: 0px 100px 0px 100px ">
        Remember, your trading account stays in your complete control and nobody
        has access to it except you.Once your account is setup and live, we will
        install our Custom Systems & Tools to your laptop or computer.
      </h3>
      <br />
      <br />
      <h1 style="color:#3CB371;">
        Step 2. Fund Your Trading Account
      </h1>
      <h3>Watch this quick video to fund your trading account.</h3>
      <br />
      <br />
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/eIltqdenD_g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <br />
      <br />
      <br />
      <h4 style="margin: 0px 100px 0px 100px ">
        Remember, funds can only be accessed by you and you are in complete
        control over your funds. You can deposit in either Fiat Currency or Bit
        Coin Transfer. Any currency amount you fund will be displayed in USD.
      </h4>
      <br />
      <br />
      <h1 style="color:#3CB371;">
        Step 3.Use the Custom Trading System & Tools daily.
      </h1>
      <h3>
        Attend the DAILY LIVE TRADING SESSIONS at 2 PM EST from this link.
      </h3>
      <br />
      <br />
      <div class="container">
        <div class="text-center">
          <button
            style="width: 400px; height: 70px;"
            type="button"
            class="btn btn-primary btn-lg"
          >
            JOIN DAILY SEMINAR
          </button>
          <br />
          <br />
          <h4>
            Save the above meeting link or bookmark it for quick daily access.
          </h4>
          <br />
          <br />
          <h4
            style="color:#3CB371; cursor: pointer;"
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
          >
            Visit our FAQ page to have all your questions answered.
          </h4>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: arial;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Faq
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.491.6752
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
