<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color:#3CB371; font-family: arial;"
>
  <a
    class="navbar-brand"
    href="#"
    routerLink="/Home"
    routerLinkActive="router-link-active"
    ><img
      style="height: 30px; width: 50px;"
      src="assets/logojus.png"
      alt="jussimple logo and home button"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto" style="font:bold">
      <div class="container-fluid padding" style="margin-left: 10px">
        <span class="navbar-text" style="color: black;">
          1.647.488.0233
        </span>
      </div>
      <div class="container-fluid padding" style="margin-right: 25px">
        <span class="navbar-text" style="color: black;">
          support@jussimple.com
        </span>
      </div>
    </ul>
    <ul class="navbar-nav" style="font:bold">
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Home"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </span>
      <span>
        <a
          class="nav-item nav-link"
          href="#"
          routerLink="/Start"
          routerLinkActive="router-link-active"
          >Start</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          [routerLink]="['/Videos']"
          routerLinkActive="router-link-active"
          >Videos</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Setup"
          routerLinkActive="router-link-active"
          >Setup</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/About"
          routerLinkActive="router-link-active"
          >About</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/FAQ"
          routerLinkActive="router-link-active"
          >FAQ</a
        ></span
      >
      <span
        ><a
          class="nav-item nav-link"
          href="#"
          routerLink="/Contact"
          routerLinkActive="router-link-active"
          >Contact Us</a
        ></span
      >
    </ul>
  </div>
</nav>
<br />
<br />
<br />
<div class="container-fluid padding" style="font-family: arial;">
  <div class="row padding">
    <div class="col-md-12 col-lg-6">
      <h1>Income potential is expanding globally.</h1>
      <br />
      <br />
      <div class="container">
        <div class="text-center">
          <button
            style="width: 350px; height: 65px;"
            [routerLink]="['/Start']"
            type="button"
            class="btn btn-primary btn-lg"
          >
            Start Now
          </button>
        </div>
      </div>
      <br />
      <br />
      <div class="container">
        <h4>
          We give you access to our custom tools and charts to trade
          consistently long term with the knowledge of a pro trader.
        </h4>
        <br />
        <br />
        <h4>
          <span style="color: #3CB371">FREE BONUS:</span> Register now and get
          the <span style="color:#3CB371">FREE</span> Training guide that tells
          you exactly how to trade.
        </h4>
        <br />
      </div>
    </div>
    <br />
    <br />
    <div class="col-lg-6">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/BjLntNeYjzI"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color:#2a7d4f

  ; font-family: arial;"
>
  <div class="text-center">
    <img
      src="assets/evenpage.png"
      style="margin-top: 6%;"
      class="img-fluid"
      alt="world map"
    />
  </div>
  <br />
  <br />
  <br />
  <div class="text-center">
    <button
      style="width: 500px; height: 90px; font-size: xx-large;"
      [routerLink]="['/Start']"
      type="button"
      class="btn btn-primary btn-lg"
    >
      Start Now
    </button>
  </div>
  <br />
  <br />
  <div class="text-center">
    <h1>
      <span style="color:white">Available in your country</span>
    </h1>
  </div>
  <br />
  <div class="text-center">
    <h3>
      <span style="color:white"
        >You will be able to trade a wide range of markets in Cryptocurrency,
        Forex, Futures, Options, and Stocks. Using our Custom tools, charts, and
        exact trading rules you will have the exact system to trade daily with
        confidence. Work any time during your schedule 7 days a week 24 hours a
        day.</span
      >
    </h3>
    <br />
  </div>
</div>
<br />
<br />
<div class="container-fluid padding" style="font-family: arial;">
  <div class="text-center">
    <h1>
      Say goodbye to confusion And hello to the future of trading
    </h1>
    <br />
    <br />
  </div>
  <div class="row padding">
    <div class="col-md-6">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/RvUeKB_yzJM"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="margin-left: 4px;"
      ></iframe>
    </div>
    <br />
    <br />
    <div class="col-md-6">
      <h4>
        You will acquire the exact rules and knowledge to maneuver through the
        financial markets on a daily basis. This applies to all market types,
        time frames, and styles of trading. Once you learn how to trade using
        our Custom Systems you will simplify your trading to its core and gain a
        competitive edge over 99% of traders in the world.
      </h4>
      <br />
      <br />
      <br />
      <div class="container">
        <div class="text-center">
          <button
            style="width: 400px; height: 65px;"
            [routerLink]="['/Start']"
            type="button"
            class="btn btn-primary btn-lg"
          >
            Learn To Trade Like A Pro
          </button>
        </div>
      </div>
      <br />
      <br />
      <h4>
        99% of traders lose time and money. Learn to do the opposite. Life Time
        FREE Access once you own our Custom Systems
      </h4>
      <br />
    </div>
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color: #040D14; font-family: arial;"
>
  <div class="text-center">
    <br />
    <br />
    <div>
      <img src="assets/jusv1.png" alt="security lock" />
    </div>
    <br />
    <br />
    <h2 style="color: white;">Account Safety & Protection</h2>
    <br />
    <h4 style="color: white;">
      You will learn exactly how to keep your money safe using trading rules
      that use small incremental risk in both rising and falling markets.
    </h4>
    <br />
    <br />
    <h4 style="color: white;">
      Using over 200 dedicated and virtual private cloud servers worldwide
      MoneySome ensures your connection, data and account stay in your complete
      control.
    </h4>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="container-fluid padding" style="font-family: arial;">
  <div class="text-center">
    <br />
    <br />
    <div>
      <img src="assets/jusv2.png" alt="clock timing speed" />
    </div>
    <br />
    <br />
    <h2>Built with speed in mind</h2>
    <br />
    <h4>
      In the markets, a fraction of a second can mean the difference between a
      profit and loss. We will give you access to low-latency trading tools used
      by high frequency traders and private equity firms to make sure that time
      is on your side.
    </h4>
    <br />
    <br />
    <div>
      <img src="assets/jusv3.png" alt="cash flow" />
    </div>
    <br />
    <br />
    <h2>Custom Charts</h2>
    <br />
    <h4>
      You will gain access to our Custom built Charts that take into
      consideration hundreds of indicators per second to give you the most
      statistically accurate view of the market. This simplifies your trading
      analysis by doing the work for you. That makes all the difference.
    </h4>
    <br />
    <br />
    <div>
      <img src="assets/jusv4.png" alt="fresh hot coffee beside computer" />
    </div>
    <br />
    <br />
    <h2>Smart Notifications</h2>
    <br />
    <h4>
      Audio alerts signal exactly when to get ready for market trends with exact
      entries and exits defined. This way you don't have to waste your time
      analyzing the markets and staring at charts all day. All the work is done
      for you.
    </h4>
    <br />
    <br />
    <h2>
      Quick Video Explains It All
    </h2>
    <br />
    <br />
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/qtATa7n_WOA"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <br />
    <br />
    <br />
  </div>
</div>
<div
  class="container-fluid padding"
  style="background-color: #01040D; font-family: arial;"
>
  <br />
  <div class="row padding">
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4
            class="card-title"
            routerLink="/Home"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            JUSSIMPLE
          </h4>
          <br />
          <p
            routerLink="/Start"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Start
          </p>
          <br />
          <p
            [routerLink]="['/Videos']"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Videos
          </p>
          <br />
          <p
            routerLink="/Setup"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Setup
          </p>
          <br />
          <p
            routerLink="/About"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            About
          </p>
          <br />
          <p
            routerLink="/FAQ"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Faq
          </p>
          <br />
          <p
            routerLink="/Contact"
            routerLinkActive="router-link-active"
            style="cursor: pointer;"
          >
            Contact Us
          </p>
          <br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">OFFICE</h4>
          <br />
          <p>
            6981 Millcreek Drive, Unit 37 Mississauga, Ontario L5N 6B8
          </p>
          <br />
          <p>
            Phone: 1.647.491.6752
          </p>
          <br />
          <p>
            E-mail: support@jussimple.com
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="row">
            <img
              src="assets/insta.png"
              style="height: 90px; "
              alt="redirect to instagram icon"
            />
            <br />
            <img
              src="assets/twit.png"
              style="height: 90px;"
              alt="redirect to twitter icon"
            />
            <br />
            <img
              src="assets/faceb.png"
              style="height: 90px;"
              alt="redirect to facebook icon"
            />
            <br />
            <img
              src="assets/yout.png"
              style="height: 90px;"
              alt="redirect to youtube icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="background-color: #01040D;">
        <div class="card-body" style="color: white;">
          <h4 class="card-title">BUSINESS HOURS</h4>
          <br />
          <p>
            We are available to assist you online 24 hours a day, 7 days a week,
            including holidays.
          </p>
          <br />
          <p>
            Office Hours: Monday-Sunday 12 PM - 5 PM
          </p>
          <br />
          <p>
            Special Appointments Available on Request
          </p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <div class="input-group">
            <form
              #form="ngForm"
              [formGroup]="subForm"
              (ngSubmit)="sendSubMail()"
              class="form-inline"
            >
              <label for="emailiNp"></label>
              <input
                type="text"
                class="form-control"
                id="emailiNp"
                formControlName="email"
              />
              <button
                class="btn btn-info btn-outline-success"
                [disabled]="form.invalid"
              >
                Subscribe
              </button>
            </form>
          </div>
          <br />
          <p>
            Receive insightful and secret knowledge about how the markets really
            work. We will never share your email
          </p>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="text-center">
    <h3 style="color: white;">
      © 2019 Jussimple Trading. All rights reserved.
    </h3>
    <br />
    <div class="border-top my-3" style="color: white;"></div>
    <br />
    <br />
    <p style="color: white;">
      IMPORTANT INFORMATION
    </p>
    <br />
    <br />
    <p style="color: white;">
      No offer or solicitation to buy or sell securities, securities derivative,
      forex, options, or futures products of any kind, or any type of trading or
      investment advice, recommendation or strategy, is made, given or in any
      manner endorsed by any Jussimple Trading and/or any affiliates and the
      information made available on this Website is not an offer or solicitation
      of any kind in any jurisdiction.<br />
      <br />
      ​ Past performance, whether actual or indicated by historical tests of
      strategies, is no guarantee of future performance or success. There is a
      possibility that you may sustain a loss equal to or greater than your
      entire investment regardless of which asset class you trade (equities,
      options, forex or futures); therefore, you should not invest or risk money
      that you cannot afford to lose. Options and all other types of trading is
      not suitable for all investors. Before trading any asset class, customers
      must read the relevant risk disclosure statements on our<span
        style="color: green;"
      >
        <a
          [routerLink]="['/Terms']"
          routerLinkActive="router-link-active"
          style="color: #3CB371;"
          >Terms & Conditions</a
        >
      </span>
      page.<br /><br />
      ​ The Company on this website and its representatives do not provide
      ‘‘fiduciary’’ investment advice or recommendations to employees, or any
      persons whether they are corporate entities or individuals. Neither the
      Company on this website, nor any of its associated persons, registered
      representatives, employees, or affiliates offer investment advice or
      recommendations of any kind. The Company may provide general information
      to potential and prospective customers for the purposes of making an
      informed investment decision on their own. All long/short trades and
      opinions created on Jussimple Trading are for educational and
      informational purposes only and do not constitute as investment advice.
      The information and education provided is not intended to be investment
      advice, nor does it fall within the definition of investment advice or
      recommendations. Jussimple Trading does not hold any liability and does
      not have any responsibility for any losses incurred or damages that may
      directly or indirectly result from any education, information, opinions,
      advice or omission contained on this website or in any of the content or
      software produced by Jussimple Trading. Jussimple Trading and all
      proprietary technology in Jussimple Trading is owned by Jussimple Trading.
    </p>
    <br />
    <br />
    <p style="color: white;">
      Copyright © 2019 Jussimple Trading
    </p>
    <br />
    <br />
  </div>
</div>
